<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ style('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css') }}
  {{ style('css/main.css') }}
  <title>અહિચ્છત્ર સંસ્કાર કેન્દ્ર</title>
</head>
<body>
  <div class="container-fluid header">
    @include('layout.partials.header')
  </div>
  <div class="container-fluid main-menu">
    @include('layout.partials.nav')
  </div>
  <div class="container-fluid body">
    <div class="row justify-content-center">
      @loggedIn
          <div class="col-xs-8 col-sm-3 col-md-2 vivah-menu">
            @include('layout.partials.sidebar')
          </div>
      @endloggedIn
      @!section('page')
    </div>
  </div>
</body>
  {{ script('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js') }}
  {{ script('https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.js') }}
  {{ style('https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css') }}
  {{ script('https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js') }}
  {{ script('js/newrelic.min.js') }}
  {{ script('js/main.js') }}
</html>
