{{--  @if(flashMessage('message'))
  <div class="errors">
    <p>{{ flashMessage('message') }}</p>
  </div>
@endif

@if(flashMessage('errors'))
  <div class="errors">
    <h4>Problems</h4>
    <ul>
      @each(error in flashMessage('errors'))
        <li>{{ error.message }}</li>
      @endeach
    </ul>
  </div>
@endif

@if(flashMessage('success'))
  <div class="success">
    <p>{{ flashMessage('success') }}</p>
  </div>
@endif  --}}