<div class="row">
  <div class="col-xs-12">
    <ul class="nav">
      <li class="nav-item"><a href="http://ahichhatra.org" target="_blank" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/home" class="nav-link">વિવાહ</a></li>
    </ul>
  </div>
</div>